

// color
$header-height: 4rem;
$first-color: rgb(8, 130, 122);
$first-color-alt: rgb(233, 246, 235);
$second-color: rgb(253, 226, 191);
$title-color: rgb(33, 33, 33);
$text-color: rgb(71, 92, 83);
$text-color-light: rgb(144, 144, 142);
$body-color: rgb(255, 255, 255);
$container-color: rgb(237, 237, 237);
$border-color: rgb(203, 231, 207);
$border-color-alt: rgb(227, 233, 226);

// font
$body-font: "Noto Sans TC", sans-serif;
$second-font: "Noto Sans TC", sans-serif;
$big-font-size: 3.5rem;
$h1-font-size: 2.75rem;
$h2-font-size: 2rem;
$h3-font-size: 1.75rem;
$h4-font-size: 1.375rem;
$large-font-size: 1.125rem;
$normal-font-size: 1rem;
$small-font-size: 0.875rem;
$smaller-font-size: 0.75rem;
$tiny-font-size: 0.6875rem;

// font weight
$weight-400: 400;
$weight-500: 500;
$weight-600: 600;
$weight-700: 700;

// transition
$transition: cubic-bezier(0, 0, 0.05, 1);
